a {
  color: black;
}
nav {
  background-color: blue;
  padding: 10px;
}
ul {
  padding-left: 0;
}
ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
li :first-child {
  color: yellow;
}
.currentPage {
  background-color: #4679f2;
  padding: 10px;
}
.currentPage :hover {
  background-color: lightblue;
  text-decoration-line: none;
  padding: 10px;
}
.input :focus {
  border: aqua;
}

.link__1 :hover {
  font: bold;
  color: lightblue;
  text-decoration-line: none;
}
.link__2 :active {
  font-style: italic;
  color: red;
  text-decoration-line: none;
}
.link__3 :visited {
  color: orange;
}
.label :focus {
  color: green;
  font-size: 20px;
}
