a {
  color: black;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
nav {
  background-color: rgb(238, 231, 231);
}
/*
nav a {
  display: flex;
  flex-direction: row;
  flex-wrap:nowrap;
  justify-content: center;
  box-sizing: border-box;
}*/
.link__1 :hover {
  font: bold;
  color: lightblue;
  text-decoration-line: none;
}
.link__2 :active {
  font-style: italic;
  color: red;
  text-decoration-line: none;
}
.link__3 :visited {
  color: orange;
}
.label :focus {
  color: green;
  font-size: 20px;
}
